@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap");

:root {
    --site-black: #2A231F;
    --site-white: #D8E1E7;
    --site-blue: #00478F;
    --site-orange: #FF5D00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Oswald, sans-serif;
    background-color: var(--site-white);
    color: var(--site-black);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 100px;
    background-color: var(--site-black);
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    box-shadow: 0 2px 4px var(--site-orange);
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--site-white);

}

.nav-links {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.active {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    font-family: Lato, sans-serif;
}

#scroll-up {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 0.75rem 1.75rem;
    color: var(--site-white);
    background-color: var(--site-black);
    box-shadow: 0 2px 4px var(--site-blue);
}

.box {
    min-height: 80px;
    width: 40px;
    background-color: var(--site-blue);
    color: var(--site-orange);
    border: 1px solid var(--site-orange);
    text-align: center;
}

.box-height {
    min-height: 40px;
    max-height: 40px;
}

.box-two {
    min-height: 60px;
}

.box-three {
    min-height: 100px;
}

.no-width {
    width: auto;
}

.twice-width {
    width: 80px
}

.container {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border: 2px dashed var(--site-blue);
}

.layout-container {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.description {
    padding: 1rem;
    max-width: 250px;
    border-right: 2px dashed var(--site-blue);
}

.example {
    width: 250px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bigger {
    min-height: 160px;
}

.wider {
    width: 200px;
}

.display {
    display: flex;
    border: 1px dotted var(--site-black);
}

.row {
    flex-direction: row;
}

.reverse {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.col-reverse {
    flex-direction: column-reverse;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.stretch {
    align-items: stretch;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.evenly {
    justify-content: space-evenly;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.content-stretch {
    align-content: stretch;
}

.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-center {
    align-content: center;
}

.content-between {
    align-content: space-between;
}

.content-around {
    align-content: space-around;
}

.order-one {
    order: 1;
}

.order-two {
    order: 2;
}

.order-three {
    order: 3;
}

.grow-one {
    flex-grow: 1;
}

.grow-two {
    flex-grow: 2;
}

.grow-three {
    flex-grow: 3;
}

.basis-auto {
    flex-basis: auto;
}

.basis-one {
    flex-basis: 30px;
}

.basis-two {
    flex-basis: 50px;
}

.basis-three {
    flex-basis: 75px;
}

.shrink-one {
    flex-shrink: 1;
}

.shrink-two {
    flex-shrink: 2;
}

.shrink-three {
    flex-shrink: 3;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-baseline {
    align-self: baseline;
}

.self-stretch {
    align-self: stretch;
}